table{
	display: none;
	padding: 0em;
	width: 600px;
	height: 300px;
	margin: 0em;
	margin-top: 20px;
	font-family: 'Arimo', sans-serif;
	font-size: 70px;
	align-items: center;
	position: absolute;
	left: 25%;
	top: 53px;}
button{
	padding: 0em;
	margin: 0em;
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	position: absolute;
    left:400px;
     top: 200px;}
button:hover{
	background-color: orange;}
h1,h2,h3{
	position: absolute;
	display: none;
	text-align: center;}
td{
    text-align: center;
    display: inline-block;
	width: 80px;
	font-weight: lighter;
	height: 80px;
	line-height: 80px;
	color: black;
	border:1px solid black;
	transition: background-color 0.2s ease;
}
body{
    background-color: lightgoldenrodyellow;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
td:hover {
	cursor: pointer;
}
.hover:hover {
	background: #F38630;
	color: white;
}
:active {
	outline: none;
}
:focus {
	outline: none;
}
.seed {
	background: #F38630;
	color: white;
}
@media only screen and (min-device-width: 500px) {
	td {
		width: 120px;
		height: 120px;
		line-height: 120px;
		font-size: 120px;
	}
}
#multi,#singler{
	top: 120px;
    position: absolute;
	cursor: pointer;
    width: 200px;
    height: 56px;
}
#yeniden{
	display: none;
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 490px;
}
#singler{
display: inline;
left: 450px;
}
#multi{
display: inline;
left: 150px;
}
#baslik{
	padding: 0em;
	margin: 0em;	
	display: inline;
}
#ekran{
	position: absolute;
	padding: 0em;
	width: 640px;
	height: 360px;
	margin: 0em;
    /*background-color: rgb(98, 113, 201);
    border-style: solid;*/
    left:300px;
    top: 25px;
}
#gis{
	left:42%;
	margin:0px;
}
#so,#so1,#ber{
	margin-top:30px;
	left: 45%;
}
@media(max-width: 768px){
	#ekran{
		left:0;
	}
	td{
		width:100px;
		height:100px;
	}
	#multi{
    left: 105px;
    padding: 6px;
	}
	#singler{
    left: 350px;
    padding: 6px;
	}
	#r021120{
		top:50px!important;
		left:98px!important;
	}
	#r021222{
		left:420px!important;
	}
	#r011121 {
		left:316px!important;
	}
	#r000102 {
		top:115px!important;
	}
	#r101112{
		top:223px!important;
	}
	#r202122 {
		top:330px!important;
	}
} 
svg{
	z-index:-1;
	stroke-width:5;
}
.vectorial{
	width:2px;
    height: 400px;
    position: absolute;
}
.horizantal{
	position:absolute;
	width: 400px;
    height: 2px;
}
#r001020{left: 215px;
	top: 60px;}
#r011121{
	top:60px;
	left:345px;
}
#r021222{
	top:60px;
	left:475px;
}
#r202122{
	top: 380px;
	left:128px;
}
#r101112{
	top:260px;left:128px;
}
#r010203{
	top:150px;
}
#r001122{
    top: 71px;
    position: absolute;
    width: 375px;
    height: 375px;
    left: 153px;
}

#r021120{   height: 375px;
    left: 151px;
    width: 375px;
    position: absolute;
    top: 58px;
}
#r000102{
	    top: 135px;
    left: 134px;
}